<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Vacation</title>

    <script src="js/vacation.js" defer></script>

    <link rel ="icon" href="assets/favicon.png">

    <link rel="stylesheet" href="styles/vacation.css">
</head>
<body>
    <main>
        <h2>Thank you for your request!</h2>
    </main>

    <footer>
        <a href="https://github.com/DarienArthur-Gocken/midterm">https://github.com/DarienArthur-Gocken/midterm</a>
    </footer>
</body>
</html>